/* スマホ前提 */
body {
  margin: 0;
  background-color: #d0f9faa3;
  font-family: sans-serif;
}

.wrapper {
  max-width: 375px;
  margin: 0 auto;
  padding: 16px;
}

/* header */
.header {
 
  background-color: #d0f9faa3;
}

.header .inner {
  width: 100%;
  max-width: 375px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 16px;
}

.logo {
  height: 90px;
}

.nav li {
  list-style: none;
}

.nav a {
  color: #5a3a2e;
  font-size: 14px;
  text-decoration: none;

} 

/* main */
.under {
  display: inline-block;
  border-bottom: 1px solid #5a3a2e;
  padding: 0 6px 2px;
  color: #5a3a2e;
}

.content {
  max-width: 375px;
  margin: 0 auto;
  padding: 16px;
}

.content-list {
  display: block;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
}

.schedule {
  list-style: none;
  padding: 0;
  margin: 0;
}

.schedule li {
  margin-bottom: 12px;
}

.schedule-list {
  display: block;
  text-decoration: none;
  border-radius: 12px;
  overflow: hidden; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.schedule img {
  width: 100%;
  height: 140px;
  object-fit: 12px;
  display: block;
}

.thumb {
  overflow: hidden;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s ease; 
}

.schedule-list:active .thumb img {
  transform: scale(1.08);
}

.schedule-list .title {
  display: block;
  padding: 12px;
  color: #5a3a2e;
  background-color: #FAF0E6;
  
}

.todo {
  max-width: 375px;
  margin: 0 auto;
}

.todo-input {
  display: flex;
  aligin-item: center;
  gap: 8px;
  margin-bottom: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

.page {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      padding: 6px 0;
      font-size: 15px;
    }

    li:hover {
      background: rgba(55,53,47,0.03);
    }

    .checkbox {
      margin-top: 2px;
    }

    .checkbox input {
      width: 16px;
      height: 16px;
    }

    .text {
      flex: 1;
      line-height: 1.6;
    }

    li.done .text {
      text-decoration: line-through;
      color: #b3b3b3;
    }

    .delete {
      border: none;
      background: none;
      color: #b3b3b3;
      font-size: 14px;
      opacity: 0;
    }

    li:hover .delete {
      opacity: 1;
    }



.map {
  margin: 16px 0 24px;
  border-radius: 8px;
  overflow: hidden;
}


